//COLORS
$black: black;
$white: white;
$green: rgb(50, 168, 50);
$grey: grey;
$grey-light: rgb(202, 198, 198);
$grey-dark: rgb(76, 71, 71);
$black-light: rgba(136, 133, 133, 0.692);
$blue: rgba(71, 71, 241, 0.973);
$black2: rgb(32, 30, 30);

//BOX SHADOWS

//GRID
$grid-width: 100rem;
$gutter-horizontal: 1rem;
$gutter-vertical: 1rem;